@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
     font-family: 'Mulish', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* primary */
h1{color: var(--primary);}
h2{color: var(--secondary-title);}

:root {
     --primary: #FFFFFF;
     --secondary-title: #131318;
     --primary-des: #131318B2;
     --secondary-des: #5A5A5D;
     --accent: #FF5400;
     --navmenu:#424247;
   }

.btn-primary{
     font-size: 18px;
     font-weight: 800;
     line-height: 25px;
     text-align: center;
     background-color: var(--accent);
     border-radius: 8px;
     border:none;
     color: var(--primary);
     padding: 12px 34px;
}



/* primary end */
/* navbar start */
body{
     max-width: 1440px;
     margin: auto;
}
header{
     max-width: 1440px;
     /* text-align: center;
     justify-content: center; */
     margin: auto;
}

.navbar li{
     list-style: none;
}

a{
     color: #131318;
     text-decoration: none;
}
.navbar{
     min-width: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 60px;
}

.nav-menu .activecolor{
     color: #FF5400;
}

/* logo start */
.logo{
     justify-content: space-between;
     align-items: center;
     display: flex;
     font-size: 25px;
     font-weight: 800;
     line-height: 35px;
     letter-spacing: 0em;
     text-align: left;
     margin-right: -10px;

}

.logotwo{
     color: var(--accent);

}
.logo img{
     width: 60%;
}
.logotextlogo{
     width: 200px;
}

/* logo end */
.nav-menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 60px;
}
.nav-branding{
     font-size: 2rem;
}

.nav-link{
     transition: 0.7s ease;
}
.nav-link:hover{
     color: #000f7d;
}
.hamburgar{
     display: none;
     cursor: pointer;

}

.bar{
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     --webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: aqua;
}

/* navbar end */

/* banner header */

.banner{
     padding: 0 55px;
     text-align: center;
     justify-content: center;
    
}
.banner-content img{
     width: 100%;

 
}

.banner-content{
     background-image: linear-gradient(to bottom, rgba(19, 19, 24, 1), rgba(19, 19, 24, 0)), url(images/group13.png);
     background-repeat: no-repeat;
     text-align: center;
     justify-content: center;
     margin: 0 auto;
     background-position: center;
     height: 500px;
     border-radius: 16px;
     padding-top: 150px;
}

.banner-title{
     font-family: Mulish;
     font-size: 64px;
     font-weight: 800;
     line-height: 80px;
     padding-bottom: 30px;
}
.primary-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: center;
     padding-bottom: 40px;
     color: var(--primary);
}

/* input container */
.input-container{
     display: flex;
     gap: 30px;
     text-align: center;
     justify-content: center;

}

input{
     border: none;
     padding: 5px;
}
.input-item{
     background-color: var(--primary);
     border-radius: 8px;
     padding: 8px;
}
/* .input-item{
     padding-right: 20px;
} */
/* id input */
#inputbutton{
     background-color: #FF5400;
}
#inputbutton input{
     background-color: #FF5400;
}

#inputbutton i {
     color: #FFFFFF;
     padding-left: 10px;
}

#inputbutton ::placeholder{
     color: #FFFFFF;
}

/* id input end */

section{
     margin-top: 70px;
}
/* popular */
.popular-container{
     display: flex;
     padding: 30px 60px;

}

.text-popular-content{
     padding-right: 20px;
}
.popular-container img{
     width: 550px;
     height: 550px;
}
.popular-title{
     font-family: Mulish;
     font-size: 40px;
     font-weight: 800;
     line-height: 50px;
     letter-spacing: 0em;
     padding-bottom: 24px;
}
.popular-description{
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     color: #131318B2;
     padding-bottom: 24px;
}
.popular-list-container{
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     color: #131318B2;
     padding-bottom: 24px;
     padding-left: 22px;

}
.popular-list-container li{
     padding-bottom: 10px;
}

.popular-last-description{
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     padding-bottom: 24px;

}


/* popular end */

/* destination */
.destination-container{
     padding: 0px 60px;
     text-align: center;
     justify-content: center;
}
.destination-image-text{
     display: flex;
     gap: 20px;
     padding-bottom: 15px;
}
.image-destination{
     position: relative;
}
.imag-text{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #FFFFFF;
}
/* choose-us-container */
.choose-us-container{
     padding: 0px 60px;

}

.text-container-box-three{
     text-align: center;
     justify-content: center;

}

.box-container{
     display: flex;
     gap: 40px;
}

.box-one{
     background-color: #FBB56333;
     padding: 32px;
     border-radius: 16px;
}

.box-one img{
     padding-bottom: 10px;
}


.box-title{
     font-family: Mulish;
     font-size: 24px;
     font-weight: 800;
     line-height: 30px;
     letter-spacing: 0em;
     color: #131318;
     padding-bottom: 10px;
}

.box-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: left;
     color: #5A5A5D;

}

.box-two{
     background-color: #29CEF633;
     padding: 32px;
     border-radius: 16px;
}

.box-two img{
     padding-bottom: 10px;
}

.box-three{
     background-color: #E9444433;
     padding: 32px;
     border-radius: 16px;
     margin-left: 300px;
     margin-right:300px;
     margin-top: 30px;

}

.box-three img{
     padding-bottom: 10px;
}

/* Newsletter */
.newsletter-container{
     display: flex;
     padding: 0px 60px;
     gap: 30px;
     
}

.contact-us{
     border: 1px solid #FF5400;
     border-radius: 16px;
     height: 400px;
     width: 60%;
     padding: 60px 20px 20px 30px;
     margin-bottom: 60px;
}



.newsletter-container img{
     width: 600px;
     height: 400px;

}

.newsletter-title{
     font-family: Mulish;
     font-size: 24px;
     font-weight: 800;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: left;
     padding-bottom: 10px;

}

.newsletter-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: left;
     color: #5A5A5D;
     padding-bottom: 10px;

}


.input-field-text-you{
     background-color: #1313180D;
     padding: 18px 247px 18px 45px;
     border-radius: 8px;
}

.hrcolor{
     border-top: 1px solid #1313181A;
     margin: 20px 20px 10px 0px;
}

.input-field-one{
     padding-top: 20px;
     padding-bottom: 20px;

}

.input-field-sub{
     text-align: center;
     justify-content: center;
     border-radius: 8px;
     background-color: #FF5400;
     margin-top: 20px;
}
.input-field-sub input{
     background-color: #FF5400;
     color: white;
     padding: 12px 34px;
}

.footer{
     padding: 60px 60px;
     height: 300px;
     background-color: #1313180D;

}
.logo-footer{
     text-align: center;
     justify-content: center;
     margin: 0px 0px 16px 0px;
}

.logo-footer img{
     width: 12%;
}

.hrfooter{
     margin: 10px 200px;
     border-top: 1px solid #1313181A;

}

.socialmedia{
     text-align: center;
     justify-content: center;
     padding-bottom: 20px;
}
.socialmedia a{
     margin-left: 20px;
}

.footer-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: center;
     margin-top: 10px;

}
.footer-copy{
     font-family: Inter;
     font-size: 16px;
     font-weight: 300;
     line-height: 19px;
     letter-spacing: 0em;
     text-align: center;
     margin-top: 40px;
}


/* Deals & Discounts */
/* .background-image-container{
    
      background-color: #FFFFFF;
     opacity: 0.5;
} */

.background-image-container{
     background-image: url(images/tour1.png);
     height: 500px;
     background-repeat: no-repeat;
     background-position: center;
     height: 500px;
     border-radius: 16px;
     padding-top: 150px;
     position: relative;
     margin-bottom: 30px;

}


.big-image-container{
     background-color: #FFFFFFCC;
     width: 500px;
     text-align: left;
     padding: 40px 32px;
     border-radius:16px;
     position: absolute;
     left: 50%;
     top: 20%;
}

/* second banner */
.background-image-container-second{
     background-image: url(images/tour2.png);
     height: 500px;
     background-repeat: no-repeat;
     background-position: center;
     height: 500px;
     border-radius: 16px;
     padding-top: 150px;
     position: relative;
     margin-bottom: 30px;  
}
.big-image-container-second{
     background-color: #FFFFFFCC;
     width: 500px;
     text-align: left;
     padding: 40px 32px;
     border-radius:16px;
     position: absolute;
     right: 50%;
     top: 20%;
}

/* end banner */


/* banerr three */
.background-image-container-three{
     background-image: url(images/tour3.png);
     height: 500px;
     background-repeat: no-repeat;
     background-position: center;
     height: 500px;
     border-radius: 16px;
     padding-top: 150px;
     position: relative;
     margin-bottom: 30px;  

}
/* banner three end */
/* end btn */
.end-btn{
     text-align: center;
     margin: 0 auto;
     justify-content: center;
}
.icon-text-container{
     display: flex;
     gap: 10px;
     padding-bottom: 10px;

}

.big-image-title{
     font-family: Mulish;
     font-size: 24px;
     font-weight: 800;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: left;
     padding-bottom: 10px;

}
.big-image-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: left;
     color: #5A5A5D;
     padding-bottom: 10px;

}
.big-image-p{
     font-family: Mulish;
     font-size: 20px;
     font-weight: 800;
     line-height: 25px;
     letter-spacing: 0em;
     text-align: left;
     color: #FF5400;
     padding-bottom: 10px;

}

.text-icon-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: 0em;
     text-align: left;
     color: #5A5A5D;

}

/*end Deals & Discounts */






/* ======================================================== */
/* responsive for mobile */
   @media screen and (min-width:300px) and (max-width:600px){

     .primary-title{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;
          color: #FFFFFF;

     }
     
     .primary-description{
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #FFFFFF;
     }
     
     .btn-primary{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
     /* general css for mobile */

     /* nav */
     .hamburgar{
          display: block;
     
     }
     .hamburgar .active .bar:nth-child(2){
          opacity: 0;
     }
     .hamburgar .active .bar:nth-child(1){
          transform: translate(8px) rotate(45deg);
     }
     .hamburgar .active .bar:nth-child(3){
          transform: translate(-8px) rotate(45deg);
     }
     .nav-menu{
          position: fixed;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: cadetblue;
          width: 100%;
          text-align: center;
          transition: 0.3s;
     }
     .nav-item{
          margin: 16px 0;
          left: 0;
          padding-bottom: 10px;

     }



       /* nav end */

/* logo start */

     .logo{
         font-size: 22px;
         font-weight: 800;
         line-height: 27px;
     }
         

     /* logo end */
     /* banner */
     /* input */
     .input-container{
          flex-direction: column;
          width: 80%;
          text-align: center;
          justify-content: center;
          margin: 0 auto;

     }
     .input-item{
          display: flex;
          margin-top: 20px;
     }


     .banner-content{
          padding-top: 0px;
     }
     .banner-title{
          font-family: Mulish;
          font-size: 22px;
          font-weight: 800;
          line-height: 80px;
          padding-bottom: 5px;
     }
     .primary-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: center;
          padding-bottom: 5px;
     
     }
     /* popular */

     section{
          margin-top: 10px;
     }
     .popular-container{
          flex-direction: column;
          text-align: left;   
     }
     .popular-container img{
          width: 350px;
          height: 350px;
     }
     .popular-title{
          font-size: 20px;
          line-height: 25px;
          text-align: left; 
          padding-bottom: 10px;  

     }
     .popular-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 10px;            
     }
     .popular-list-container{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 10px; 
     }
     
     .popular-last-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 10px;  
     }
     .btn-primary{
          margin-bottom: 10px;
          font-family: Mulish;
          font-size: 13px;
          font-weight: 800;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: center;
     }
      /* popular end*/
     
}






/* =======================================tablet or medium devices===================================================== */

@media screen and (min-width:601px) and (max-width:991px) {
     .primary-title{
          font-size: 24px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
     
     .primary-description{
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
     }
     
     .btn-primary{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
      /* general css for tablet */

     /* logo text*/
     .logo{
          font-size: 28px;
          font-weight: 800;
          line-height: 27px;
      }
     /* logo */


     /* nav menu  */
     .hamburgar{
          display: block;
     
     }
     .hamburgar .active .bar:nth-child(2){
          opacity: 0;
     }
     .hamburgar .active .bar:nth-child(1){
          transform: translate(8px) rotate(45deg);
     }
     .hamburgar .active .bar:nth-child(3){
          transform: translate(-8px) rotate(45deg);
     }
     .nav-menu{
          position: fixed;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: cadetblue;
          width: 100%;
          text-align: center;
          transition: 0.3s;
     }
     .nav-item{
          margin: 16px 0;
     }
     .nav-item{
          left: 0;
     }
       /* nav end */
        /* popular */
     .popular-container{
          flex-direction: column;
     }
     .popular-title{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
     .popular-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;          
     }
     .popular-list-container{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;

     
     }
     
     .popular-last-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
     }
      /* popular end*/
     
   
}


