@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
     font-family: 'Mulish', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* primary */
h1{color: var(--primary);}
h2{color: var(--secondary-title);}

:root {
     --primary: #FFFFFF;
     --secondary-title: #131318;
     --primary-des: #131318B2;
     --secondary-des: #5A5A5D;
     --accent: #FF5400;
     --navmenu:#424247;
   }

.btn-primary{
     font-size: 18px;
     font-weight: 800;
     line-height: 25px;
     text-align: center;
     background-color: var(--accent);
     border-radius: 8px;
     border:none;
     color: var(--primary);
     padding: 12px 34px;
}



   /* body{
     max-width: 1440px;
     padding: 0 100px;
   } */

/* primary end */
/* navbar start */
body{
     max-width: 1440px;
     margin: auto;
}
header{
     max-width: 1440px;
     /* text-align: center;
     justify-content: center; */
     margin: auto;
}

.navbar li{
     list-style: none;
}

a{
     color: #131318;
     text-decoration: none;
}
.navbar{
     min-width: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 70px;
}

.nav-menu .activecolor{
     color: #FF5400;
}

/* logo start */
.logo{
     justify-content: space-between;
     align-items: center;
     display: flex;
     gap: 10px;
     font-size: 36px;
     font-weight: 800;
     line-height: 45px;
     letter-spacing: 0em;
     text-align: left;
}

.logotwo{
     color: var(--accent);

}

/* logo end */
.nav-menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 60px;
}
.nav-branding{
     font-size: 2rem;
}

.nav-link{
     transition: 0.7s ease;
}
.nav-link:hover{
     color: #000f7d;
}
.hamburgar{
     display: none;
     cursor: pointer;

}

.bar{
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     --webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: aqua;
}

/* navbar end */

/* banner header */

.banner{
     padding: 0 70px;
     text-align: center;
     justify-content: center;
    
}
.banner-content img{
     width: 100%;

 
}

.banner-content{
     background-image: linear-gradient(to bottom, rgba(19, 19, 24, 1), rgba(19, 19, 24, 0)), url(Images/group13.png);
     background-repeat: no-repeat;
     text-align: center;
     justify-content: center;
     margin: 0 auto;
     background-position: center;
     height: 500px;
     border-radius: 16px;
     padding-top: 150px;
}

.banner-title{
     font-family: Mulish;
     font-size: 64px;
     font-weight: 800;
     line-height: 80px;
     padding-bottom: 30px;
}
.primary-description{
     font-family: Mulish;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: center;
     padding-bottom: 40px;
     color: var(--primary);
}

/* input container */
.input-container{
     display: flex;
     gap: 30px;
     text-align: center;
     justify-content: center;

}

input{
     border: none;
     padding: 5px;
}
.input-item{
     background-color: var(--primary);
     border-radius: 8px;
     padding: 8px;
}
/* .input-item{
     padding-right: 20px;
} */
/* id input */
#inputbutton{
     background-color: #FF5400;
}
#inputbutton input{
     background-color: #FF5400;
}

#inputbutton i {
     color: #FFFFFF;
     padding-left: 10px;
}

#inputbutton ::placeholder{
     color: #FFFFFF;
}

/* id input end */

section{
     margin-top: 70px;
}
/* popular */
.popular-container{
     display: flex;
     padding: 30px 70px;

}

.text-popular-content{
     padding-right: 20px;
}
.popular-container img{
     width: 550px;
     height: 550px;
}
.popular-title{
     font-family: Mulish;
     font-size: 40px;
     font-weight: 800;
     line-height: 50px;
     letter-spacing: 0em;
     padding-bottom: 24px;
}
.popular-description{
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     color: #131318B2;
     padding-bottom: 24px;
}
.popular-list-container{
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     color: #131318B2;
     padding-bottom: 24px;
     padding-left: 22px;

}
.popular-list-container li{
     padding-bottom: 10px;
}

.popular-last-description{
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     padding-bottom: 24px;

}


/* popular end */

/* destination */
.Destination-container{
     padding: 0px 70px;
     text-align: center;
     justify-content: center;
}
.img-one{
     display: flex;
     padding-top: 20px;
     gap: 20px;
}





/* responsive for mobile */
   @media screen and (min-width:300px) and (max-width:600px){

     .primary-title{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;
          color: #FFFFFF;

     }
     
     .primary-description{
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #FFFFFF;
     }
     
     .btn-primary{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
     /* general css for mobile */

     /* nav */
     .hamburgar{
          display: block;
     
     }
     .hamburgar .active .bar:nth-child(2){
          opacity: 0;
     }
     .hamburgar .active .bar:nth-child(1){
          transform: translate(8px) rotate(45deg);
     }
     .hamburgar .active .bar:nth-child(3){
          transform: translate(-8px) rotate(45deg);
     }
     .nav-menu{
          position: fixed;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: cadetblue;
          width: 100%;
          text-align: center;
          transition: 0.3s;
     }
     .nav-item{
          margin: 16px 0;
          left: 0;
          padding-bottom: 10px;

     }



       /* nav end */

/* logo start */

     .logo{
         font-size: 22px;
         font-weight: 800;
         line-height: 27px;
     }
         

     /* logo end */
     /* banner */
     .banner{
          
     }
     /* input */
     .input-container{
          flex-direction: column;
          width: 80%;
          text-align: center;
          justify-content: center;
          margin: 0 auto;

     }
     .input-item{
          display: flex;
          margin-top: 20px;
     }


     .banner-content{
          padding-top: 0px;
     }
     .banner-title{
          font-family: Mulish;
          font-size: 22px;
          font-weight: 800;
          line-height: 80px;
          padding-bottom: 5px;
     }
     .primary-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: center;
          padding-bottom: 5px;
     
     }
     /* popular */

     section{
          margin-top: 10px;
     }
     .popular-container{
          flex-direction: column;
          text-align: left;   
     }
     .popular-container img{
          width: 350px;
          height: 350px;
     }
     .popular-title{
          font-size: 20px;
          line-height: 25px;
          text-align: left; 
          padding-bottom: 10px;  

     }
     .popular-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 10px;            
     }
     .popular-list-container{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 10px; 
     }
     
     .popular-last-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 10px;  
     }
     .btn-primary{
          margin-bottom: 10px;
          font-family: Mulish;
          font-size: 13px;
          font-weight: 800;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: center;
     }
      /* popular end*/
     
}




/* =======================================tablet or medium devices===================================================== */

@media screen and (min-width:601px) and (max-width:991px) {
     .primary-title{
          font-size: 24px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
     
     .primary-description{
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
     }
     
     .btn-primary{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
      /* general css for tablet */

     /* logo text*/
     .logo{
          font-size: 28px;
          font-weight: 800;
          line-height: 27px;
      }
     /* logo */


     /* nav menu  */
     .hamburgar{
          display: block;
     
     }
     .hamburgar .active .bar:nth-child(2){
          opacity: 0;
     }
     .hamburgar .active .bar:nth-child(1){
          transform: translate(8px) rotate(45deg);
     }
     .hamburgar .active .bar:nth-child(3){
          transform: translate(-8px) rotate(45deg);
     }
     .nav-menu{
          position: fixed;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: cadetblue;
          width: 100%;
          text-align: center;
          transition: 0.3s;
     }
     .nav-item{
          margin: 16px 0;
     }
     .nav-item{
          left: 0;
     }
       /* nav end */
        /* popular */
     .popular-container{
          flex-direction: column;
     }
     .popular-title{
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;

     }
     .popular-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;          
     }
     .popular-list-container{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;

     
     }
     
     .popular-last-description{
          font-family: Mulish;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
     }
      /* popular end*/
     
   
}


